.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: blueviolet;
}

#text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sign-off {
    font-size: 24px;
    font-weight: 600;
    color: blueviolet;
}

.link{
    color: black;
}