* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 22px;
    box-sizing: border-box;
    background-color: rgb(189, 189, 134);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: blueviolet;
    text-decoration: underline;
    text-align: center;
    background-color: blanchedalmond;
    border: 2px solid black;
    padding: 4px 8px;
    border-radius: 10px;
}

img {
    display: block;
    margin: auto;
    border: 2px solid black;
}

h3, h4 {
    border: 2px solid black;
    padding: 4px 6px;
    background-color: rgb(128, 203, 203);
    margin: 10px auto;
    text-align: center;
    text-decoration: underline;
    border-radius: 10px;
}

h3 u, h4 u {
    background-color: inherit;
}

.sign-off {
    font-size: 24px;
    font-weight: 600;
    color: blueviolet;
    text-align: center;
    background-color: blanchedalmond;
    border: 2px solid black;
    padding: 4px 8px;
    border-radius: 10px;
}

.link{
    color: black;
}

ol, ul {
    border: 15px solid #1b7e79;
    margin: 30px;
    padding: 30px #1b7e79;
    list-style-position: inside;
    background-color: aquamarine;
}

li:first-child {
    margin-top: 15px;
}

li:last-child {
    margin-bottom: 15px;
}

li {
    font-style: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    background: none;
}

.ingredients li {
    font-style: italic;
    text-align: center;
}

.tomato {
    background-color: red;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 4px 6px;
}

.spinach
    {
        background-color: darkgreen;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        border: 2px solid white;
        padding: 2px 4px;
        border-radius: 3px;
    }